<!DOCTYPE html>

<title>Job status</title>
<!-- Online resources -->
<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


<style type="text/css">
nav.top-nav a.page-title {line-height: 122px; font-size: 48px; }
nav.top-nav { height: 122px; }
.caption {font-size: 1.25rem; font-weight: 300; }
code.job-output pre { height: 150px }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


<nav class="top-nav indigo darken-1">
  <div class="container">
    <div class="nav-wrapper"> <a class="page-title">BAX Report Generator</a> </div>
  </div>
</nav>

<main>
<div class="container"><div class="section">

<div class="row"><div class="col s12">
{% if job is defined %}  
  <div class="card {% if not status == 'running' and not status == 'done' %}hide{% endif %}"><div class="card-content">
    <div class="row"><div class="col s12">

      <span class="card-title">Report job</span>
      <table>
        <thead>
          <tr>
              <th data-field="location">Location</th>
              <th data-field="description">Description</th>
              <th data-field="map-file">Map</th>
              <th class="right-align" data-field="cancel">Remove</th>
              <th class="right-align" data-field="download">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>{{ job.location }}</strong></td>
            <td>{{ job.description }}</td>
            <td>{{ job.map_file }}</td>

            {% if status == 'done' %}
            <td class="right-align">
              <a id="cancel" class="btn-floating waves-effect waves-light red lighten-1 white-text">
                <i class="material-icons right">delete</i>
              </a>
            </td>
            <td class="right-align">
              <a id="download" href="/download" class="btn-floating waves-effect waves-light blue white-text">
                <i class="material-icons right">play_for_work</i>
              </a>
            </td>
            {% else %}
            <td class="right-align">Generating...</td>
            <td class="right-align">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div></div><!--row, col s12-->

    <div class="row"><div class="col s12">
      <p><strong>Files:</strong>
      {% for file in files %}
      {{ file.original_name }}{% if not loop.last %},{% endif %}
      {% endfor %} 
      </p>
    </div></div><!--row, col s12-->
  </div></div><!--card, card-content-->

{% endif %}
  <div id="output-card" class="card {% if job is defined and status == 'running' %}hide{% endif %}"><div class="card-content">
    <div class="row"><div class="col s12">
      <span class="card-title">Status</span>
      <div class="job-output caption">
      {% if status == 'done' %}
         Job complete. Download file above or remove it to generate another. 
      {% elif status == 'error' %}
          <p class="red-text">
            An error occurred. Please <a href="mailto:buildax@ncl.ac.uk">report it</a>
            so that we can fix it, or <a href="/">try again</a> later. :-(
          </p>
          <br/>
          {% if job is defined %}
          <p><a class="btn red white-text" href="/cancel?redirect=1">Cancel job</a></p>
          {% endif %}
      {% else %}
          No job running. Please submit one <a href='/'>here</a>.
      {% endif %}
      </div>
    </div></div><!--row, col s12-->
  </div></div><!--card, card-content-->
</div></div><!--row, col s12-->

</div><!--section-->


<script type="text/javascript">
INTERVAL = 2000

$(function(){
  True=true; False=false; 
  output = $('.job-output pre')
  output.text( output.text().trim() )
  output.animate({ scrollTop: output.prop("scrollHeight")}, 2000);

  reload = function(){ 
    $.getJSON('/status', function(data) {
      console.log(data) 

      if (data.status == 'done'){
        window.location = '/job' 
      }
      timeout = setTimeout(reload, INTERVAL)
    })
  }

  if( {{status == 'running'}} ) {// && $('#autoreload').is(":checked")) {
    timeout = setTimeout(reload, INTERVAL)
  }

  // HANDLERS
  console.log("register handlers")
  $("#autoreload").change(function(e){
    console.info("autoreload change")
    clearTimeout(timeout)
    if(this.checked) {
      timeout = setTimeout(reload, INTERVAL)
    }
  })

  $("#cancel").click(function(e){  
    $.post('/cancel', function(files) {
      console.log("Job cancelled")
      window.location = '/' 
    })
  })
})
</script>
