<!-- report template -->
{% for series in to_plot %}
<!-- series -->
<div class="cover">
    <h1> {{ series[0].label.split(' ')[0] }} Report{% if location is not none %}   : {{ location }} {% endif %}</h1>
    <h2> Weeks beginning {{ period[0] }} to {{ period[1] }} </h2>
{% if map is not none %}
    <img src="data:{{map.mime}};charset=utf-8;base64,{{ map.b64 }}" />
{% endif %}
{% if description is not none %}  
    <p class="description">{{ description }}</p>
{% endif %}
</div>
{% for week in series %}
<h2>{{week.label}} {% if location is not none %}@ {{location}}{% endif %}</h1>
<h3>Time period: 
    <em>{{ week.t_start.strftime('%Y-%m-%d') }} to {{ week.t_end.strftime('%Y-%m-%d') }}</em>
</h3>

<figure>
    <img src="data:image/svg+xml;charset=utf-8;base64,{{week.data}}" />
    <!--<figcaption></figcaption>-->
</figure>
{% endfor %}
{% endfor %}
